@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}  

.top-cart {
    height: 400px;
    background-image: url(img/topcart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-big {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 127px;
    color: #FFFFFF;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 376px;

    &_name {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        padding-top: 42px;
        padding-bottom: 35px;
        }

     &_input {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            flex-direction: column;
            border: 0px;
            background-color: transparent;
            width: 288px;
            margin-bottom: 44px;
            border-bottom: 1px solid #CACDD8;
        }
    &_price_end {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            margin-top: 20px;
        }
    &_button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            background: #F7F6F6;
            border-radius: 20px;
            width: 290px;
            height: 41px;
            margin-top: 18px;
            transition: all .5s;
            animation: myAnim 3s ease-out 1s infinite normal none;
            
        }
    }
    
.cart_form_button:hover {
    background: #000000;
    color: #FFFFFF;
}


    &__content {
        grid-column: span 8;
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__number {
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
    }
  

    &__button_box-left {
        display: flex;
        gap: 7px;
        margin-top: 18px;

    }

    &__button {
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #020202;
        background-color: transparent;
        transition: all .5s;
        &:hover {
            background: #000000;
            color: #FFFFFF;
        }          
    }

}


